# Copyright (c) 2024 The Jaeger Authors.
# SPDX-License-Identifier: Apache-2.0

name: Tests

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ (github.event.pull_request && github.event.pull_request.number) || github.ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit

    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

    - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
      with:
        go-version: 1.23.x
        cache-dependency-path: ./go.sum

    - name: Run unit tests
      run: make test-ci

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v5
      with:
        slug: jaegertracing/jaeger-idl
        verbose: true
        fail_ci_if_error: true
        token: 95fab3d9-8038-40ba-ac56-0d8bd91390a4

  test-code-gen:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0

    - name: Init git submodules
      run: make init-submodule

    - name: Test code gen
      run: make test-code-gen

